doctype html
html
    head
        meta(charset='utf-8' name='viewport' content='width=device-width', initial-scale='1.0')
        title Friend List
        style
            include style.css
        script(src='/friend_list.js')
    body
        div(id='container' class='main_container')
            div(style='padding: 20px;')
            div(class='login_container')
                div(class='form_container')
                    form(name='friend_list_form' action='/process/friendList' method='get')
                        div(style='height: 10px;')
                        center
                            svg(xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16")
                                path(d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z")
                                path(fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z")
                                path(d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z")
                            div(class='form_title_p' data-role='header') 친구 목록
                        br
                        br
                        div(data-role='content')
                            ul(data-role='listview')
                                -for (friend in friend_list)
                                    svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16" style='cursor:pointer;' value=`${friend_list[friend]}` onclick="location.href='/userpage?username=' + value")
                                        path(d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z")
                                        path(fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z")
                                    div(onclick='startChatting()' style='cursor:pointer;')= friend_list[friend]
                                    br
                        div
                            button(type='button' class='form_button' onclick="location.href='/addFriend'") 친구 추가