<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <title>친구 목록</title>
        <link rel="stylesheet" href="/style.css" type="text/css" media="all" />
        <script src="/friend_list.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="container" class="main_container">
            <div style="padding: 20px;"></div>
            <div class="login_container">
                <div class="form_container">
                    <form name="friend_list_form" action="/process/friendList" method="get">
                        <div style="height: 10px;"></div>
                        <!--책 330쪽 참고-->
                        <div class="form_label" data-role="header">
                           친구 목록
                        </div>
                        <br><br>
                        <div data-role="content">
                            <ul data-role="listview">
                                <li><a href="index.html">이아현</a></li>
                                <li><a href="index.html">임혜지</a></li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>