doctype html
html
    head
        meta(charset='utf-8' name='viewport' content='width=device-width', initial-scale='1.0')
        title Sign up Success
        style
            include style.css
    body
        div(id='container' class='main_container')
            div(style='padding: 20px;')
            div(class='login_container')
                div(class='form_container')
                    form(name='signup_success_form' action='/process/signupSuccess' method='get')
                        div(style='height: 10px;')
                        img(src='/images/logo.jpg' alt='logo title' class='form_logo_title_div' width='300')
                        div(style='height: 80px;')
                        div(class='form_message') 회원가입에 성공하였습니다
                        div(style='height: 140px;')
                        div
                            button(type='button' class='form_button' onclick="location.href='/login'" style='cursor:pointer;') 로그인 페이지로 돌아가기