doctype html
html
    head
        meta(charset='utf-8' name='viewport' content='width=device-width', initial-scale='1.0')
        title User Profile
        style
            include style.css
        script(src='/userpage.js')
    body
        div(id='container' class='main_container')
            div(style='padding: 20px;')
            div(class='login_container')
                div(class='form_container')
                    form(name='user_page_form' action='/userPage' method='get')
                        div(style='height: 10px;')
                        img(src='/images/logo.jpg' alt='logo title' class='form_logo_title_div' width='300')
                        button(type='button' class='form_back_button' onclick="location.href='/friendList'")
                            svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16" style='cursor: pointer;' onclick="location.href='/friendList'")
                                path(fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z")
                        br
                        br
                        svg(xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16")
                            path(d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z")
                            path(fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z")
                        br
                        br
                        b= user_info.name
                        div(style="font-size: 15px; color: gray; float: right;")= user_info.email
                        -if (user_info.intro != '')
                            div(class='intro')= user_info.intro
                        -else
                            br
                        div
                            button(type='button' class='form_button' style="margin-top: 100px;" value=`${user_info.email}` onclick='friendDelete(value)') 친구 삭제